<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Coupon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Apply Coupon</h3>
    <form th:action="@{/user/applyCoupon}" method="post" th:object="${cart}">
        <div class="form-group">
            <label for="couponCode">Coupon Code:</label>
            <input type="text" class="form-control" id="couponCode" placeholder="Enter coupon code" name="couponCode" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>